.cards{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
    margin: 5% auto;
    justify-content: space-between;
    gap: 4%;
}
.card{
    margin-top: 5%;
}
.foot_panel4{
    height: 40%;
    width: 100%;
    display: flex;
    min-width: 30%;
    flex-wrap: wrap;
    align-items: center;
    background-color: #0f1111;
    border-top: 1px solid gray;
    justify-content: space-between;
    /* gap: 40px; */
    padding-top: 4%;
    padding-left: 8%;
}
.foot_panel4 p{
    font-size: 1rem;
    font-weight: 700;
    color: white;
}
.foot_panel4 a{
    font-size: 1rem;
    color: white;
    display: block;
    text-decoration: none;
}
.pages{
    height: 8%;
    width: 20%;
}